@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html,body{
    overflow-y: hidden;
}

:root{
    --black_color:#000000;
    --black_medium:#141313;
    --light_black_color:#292828;
    --white_color:white;
    --red_color:red;
}
.mianContainer{
    display: flex;
    gap: 0;

}


/* side bar */
.sideBar{
    max-height: 100vh;
    flex: 0.20;
    background-color: var(--black_color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow-y: hidden;

}

.chef{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.9;
}
.chef>img{
    max-width: 70%;
    height: auto;
}

.chef>p{
    color: var(--red_color);
}

.side_list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0.5;
  font-weight: 200;
}

/* right side content */
.mainFoodMenu{
   flex: 0.8;
   background-color: var(--black_medium);
}

/* ============> right side section <================ */

/* nav bar */
.navBar{
    width: 100%;
    display: flex;
    background-color: var(--black_color);
    position: sticky;
    top: 0;
    
}
/* search bar */

.searchBar{
    margin-block: 15px;
    margin-inline: 5px;
    display: flex;
    align-items: center;
    flex: 0.70;
    gap: 20px;
    background-color: var(--light_black_color);
    color: var(--white_color);
    border-radius: 10px;
}
.searchBar>input{
    width: 80%;
    height: 18px;
    border: none;
    outline: none;
    color: var(--white_color);
    font-size: 18px;
    background-color: var(--light_black_color);
   
}
.searchBar>span{
    margin-left: 20px;
}

.nav_button{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-inline: 10px;
    align-items: center;
    flex: 0.30;
}

button{
    background-color: var(--red_color);
    border: none;
    padding: 8px 35px;
    border-radius: 5px;
    color: var(--white_color);
}


.nav_img{
    margin-top: 8px;
}

/* hero section */
.hero{
    
    text-align: center;
}
.hero>img{
    max-width: 95%;
    height: auto;

}
/* scroll section */
.scroll {
    overflow-y: scroll;
    color: white;
    max-height: 100vh;
    padding-bottom: 50px;
}
/* food flex */
#food_flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 40px 30px;

}
#food_flex>div>img{
    width: 300px;
}

